[Unit]
Description=Telegram Bot
After=network.target

[Service]
ExecStart=node bot.js
ExecReload=node bot.js
WorkingDirectory=/opt/tg_bscscan_alert
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target